<!-- Dropdown Structure -->
<ul id="repositories" class="dropdown-content">
</ul>

<nav class="grey darken-3">
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">&nbsp;&nbsp;<img src="../icons/fly-shape-32.png" class="drag"/></a>
    <ul class="right">
      <li id="plugins"><a href="#!"><i class="material-icons">add</i></a></li>
      <li id="settings"><a href="#!"><i class="material-icons">settings</i></a></li>
      <li id="pluginTick"><a href="#!"><i class="material-icons">refresh</i></a></li>
      <li><a class="dropdown-button" href="#!" data-activates="repositories"><span id='selected-repository'></span><i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>
